.container.main-container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
tr td:first-child::before {
  height: 10px;
  width: 10px;
  display: inline-block;
  content: "";
  margin-right: 8px;
  border-radius: 50%;
  transition: 0.4s;
  background-color: red;
}
.available td:first-child::before {
  background-color: #23cc63;
}
.hidden {
  display: none;
}
